<!DOCTYPE html>
<html>

   <head>
      <title>CollapseURL - URL Shortener App | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>collapseURL</h1>
         <h3>URL Shortener App - One of the Free Code Camp Backend Challenges</h3>
        
        <p>Example usage</p>
        
      </div>
   </body>

</html>
